#link{
    font-size: 20px;
    color:color(from color srgb r g b);
    text-decoration: none;
}
.principal{
    background-color:rgb(0, 0, 138);
    color: black;
}
.imagem{
    width: 100px;
    border: solid 3px rgb(11, 142, 194);
}

.rodape{
    background-color: cyan;
    color: black;
    text-align: center;
}