#link{
    font-size: 20px;
    color:color(from color srgb r g b);
    text-decoration: none;
}
#link:hover{
    font-size: 25px;
    color:brown;
    text-decoration:underline;
}
.cabecalho{
    background-color: black;
    border: 10px;
    border-color: black;
    border-style: dashed;
    margin: 10px;
    color: azure;
    font-weight: 400;
}
.lista.link{
    
}
.principal{
    background-color: aqua;
    border: 10px;
    border-color: black;
    border-style: dashed;
    margin: 10px;
    color: azure;
    font-weight: 400;
}